<html>
<head>
	<style type="text/css">

		body {
		  background-color: #ddd;
		  color:  #f7f3f3;
		  font-family: 'Lato', 'Helvetica', 'sans-serif';
		}

		h1 {
		  text-align: center;
		}

		.intro {
			padding-top: 20px;
			background:  #0077be;
			text-align: center;

		}

		.intro img {
			width: 25%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		.heading {
			height: 30px;
			background:  #0077be;
			color: #f7f3f3;
			padding: 20px;
			text-align: center;
		}

		.heading h3 {
			margin-top: 0;
			font-size: 1.4em;
		}

		.body-content {
			background:  #f7f3f3;
			color: #0c3e5c;
			padding: 20px;
		}

		.body-content h4 {
			margin-top: 0;
			text-align: center;
			font-size: 1.2em;
		}

		.body-content .call-to-action {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-width: 200px;
				background: #0077be;
				color:  #f7f3f3;
				border-radius: 5px;
				box-shadow: 0px 2px 2px #0c3e5c;
				text-align: center;
				height: 40px;
				line-height: 40px;
				font-size: 1.2em;
				padding: 5px;
			}

		.body-content .call-to-action:hover {
			background: #4ed585;
		}

		.body-content .call-to-action a {
			display: inline-block;
			text-align: center;
			color:  #f7f3f3;
			text-decoration: none;
			font-size: 1.2em;
		}

		.app-stores {
			background: #f7f3f3;
			padding: 20px;
			color: #0c3e5c;
		}

		.app-stores h4 {
			margin-top: 0;
			text-align: center;
		}

		.app-stores .app-icons {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 300px;
			text-align: center;
		}

		.app-stores .app-icons a {
			text-align: center;
			display: inline-block;
		}

		.app-stores .app-icons a .icon {
			margin-bottom: 15px;
			width: 40%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.footer {
			background: #0c3e5c;
			padding: 30px;
			text-align: center;
			font-size: 1em;
		}

		.footer h5 {
			margin-top: 0;
			color: #f7f3f3;
		}

		.footer .copyright {
			float: left;
		}

		.footer .email {
			float: right;
		}

		.footer a {
			color: #f7f3f3;
			text-decoration: none;
		}
	</style>
	<title>____</title>
	<meta name="description" content="">
</head>
<body style="color: rgb(84, 84, 84);font-family: 'Lato', 'Helvetica', 'sans-serif';">
	<div class="intro" style="padding-top: 20px;background: rgb(245, 245, 245);text-align: center;">
		<img class="heading-img" src="https://s3.amazonaws.com/learnlabs/assets/learnlabs_logo_square-01.png" style="width: 30%; max-width: 200px; display: block;margin-left: auto;margin-right: auto;">
	    <div class="heading" style="background: rgb(245, 245, 245);color: rgb(84, 84, 84); padding: 20px; padding-bottom: 0px; text-align: center; height: 100%">
		      <h3 style="margin-top: 0;font-size: 1.4em;">
			      <%= msg.headingText %>
		      </h3>
	    </div>
	</div>

	<div class="body-content" style="background: #ddd; color: rgb(84, 84, 84);padding: 20px;">
		<h4 style="margin-top: 0;text-align: center;font-size: 1.2em;">
			 <%= msg.bodyText %>
		</h4>
		<div class="call-to-action" style="display: block;margin-left: auto;margin-right: auto;max-width: 200px;background: #ed184f;color: white;border-radius: 5px;box-shadow: 0px 2px 2px #0c3e5c;text-align: center;height: 40px;line-height: 40px;font-size: 1.2em;padding: 5px;">
			<a href="<%= msg.callToActionUrl %>" style="display: inline-block;text-align: center;color: white;text-decoration: none;font-size: 1em;"><%= msg.callToActionText %> </a>
		</div>

		<% if (msg.bodyText2) { %>
			<div style="height: 15px"></div>
			<h4 style="margin-top: 0;text-align: center;font-size: 1.2em;">
				 <%= msg.bodyText2%>
			</h4>

			<div class="call-to-action" style="display: block;margin-left: auto;margin-right: auto;max-width: 200px;background: #ed184f;color: white;border-radius: 5px;box-shadow: 0px 2px 2px #0c3e5c;text-align: center;height: 40px;line-height: 40px;font-size: 1.2em;padding: 5px;">
				<a href="<%= msg.callToActionUrl2 %>"  style="display: inline-block;text-align: center;color: white;text-decoration: none;font-size: 1.2em;"><%= msg.callToActionText2 %> </a>
			</div>
		<% } %>



		<% if (msg.bodyText3) { %>
			<div style="height: 15px"></div>
			<h4 style="margin-top: 0;text-align: center;font-size: 1.2em;">
				 <%= msg.bodyText3%>
			</h4>

					
			<div class="call-to-action" style="display: block;margin-left: auto;margin-right: auto;max-width: 200px;background: #ed184f;color: white;border-radius: 5px;box-shadow: 0px 2px 2px #0c3e5c;text-align: center;height: 40px;line-height: 40px;font-size: 1.2em;padding: 5px;">
				<a href="<%= msg.callToActionUrl3 %>"  style="display: inline-block;text-align: center;color: white;text-decoration: none;font-size: 1.2em;"><%= msg.callToActionText3 %> </a>
			</div>

		<% } %>

		<% if (msg.bodyText4) { %>
			<div style="height: 15px"></div>

			<h4 style="margin-top: 0;text-align: center;font-size: 1.2em;">
				 <%= msg.bodyText4%>
			</h4>

					
			<div class="call-to-action" style="display: block;margin-left: auto;margin-right: auto;max-width: 200px;background: #ed184f;color: white;border-radius: 5px;box-shadow: 0px 2px 2px #0c3e5c;text-align: center;height: 40px;line-height: 40px;font-size: 1.2em;padding: 5px;">
				<a href="<%= msg.callToActionUrl4 %>"  style="display: inline-block;text-align: center;color: white;text-decoration: none;font-size: 1.2em;"><%= msg.callToActionText4 %> </a>
			</div>

		<% } %>

	</div>



	
	<div class="footer" style=" margin-bottom: 0; background: rgb(84, 84, 84);padding: 30px;text-align: center;font-size: 1em;">
		<h5 class="copyright" style="margin-top: 0; color: white;float: left;">
			LearnLabs 
		</h5>
		<h5 class="email" style="margin-top: 0;color: white;float: right;">
			<a href="mailto:support@learnlabs.io?subject=Support" style="color: white;text-decoration: none;">support@learnlabs.io </a>
		</h5>
	</div>
</body>
</html>