// $primary-color: #333;
// $themeBlue :  #0077be;
// $themeGreen : #4ed585;
// $mainFont : 'Lato', 'Helvetica', 'sans-serif';
// $themeWhite : #f7f3f3;
// $darkerBlue : #0c3e5c;

// body {
//   background-color: #ddd;
//   color: $themeWhite;
// }

// h1 {
//   text-align: center;
// }

// .intro {
// 	background: $themeBlue;
// 	img {
// 		width: 50%;
// 		display: block;
// 		margin-left: auto;
// 		margin-right: auto;
// 	}
// }

// .heading {
// 	width: 100%;
// 	height: 70px;
// 	background: $themeBlue;
// 	color: $themeWhite;
// }

// .body-content {
// 	background: $themeWhite;
// 	color: $darkerBlue;

// 	.call-to-action {
// 		display: block;
// 		margin-left: auto;
// 		margin-right: auto;
// 		width: 100px;
// 		background: $themeBlue;
// 		color: $themeWhite;

// 		a {
// 			display: inline-block;
// 			text-align: center;
// 			color: $themeWhite;
// 			text-decoration: none;
// 		}
// 	}
// }