@import "./vars.scss";

.learnlabs-app {
  .react-autosuggest__container {
    width: 90%;
    display: inline-block;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    // border-bottom: 2px solid $red
  }


  .react-autosuggest__input {
    width: 100%;
    height: 100%;
    border: none;
    padding-left:10px;
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }




  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 58px;
    width: 85%;
    border: 1px solid $red;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    // border-bottom-left-radius: 4px;
    // border-bottom-right-radius: 4px;
    max-height: 100px;
    overflow-y: auto;
    z-index: 2;
  }


  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 8px;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: #ffffff;
    color: $green;
  }

}



