@import "./vars.scss";
.learnlabs-app {
    .content {
        position: absolute;
        top: 145px;
        bottom: 120px;
        left: 0;
        right: 0;
        background-color: $white;
        overflow: auto;
        padding: 10px;
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

    }
    
    .content-preview {
        position: absolute;
        left: 0;
        right: 0;
        background-color: $white;
        overflow: auto;
        padding: 20px;
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

    }

    .chat-bubble {
    	display: inline-block;
    	// margin-top: 10px;
    	padding: 10px;
        background-color:  transparent;
        border-top-right-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
        border-bottom-right-radius: 1.3em;
        box-shadow: 0px 1px 1px #ccc;
        margin-left: 40px;
    }

    .chat-bubble:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        left: 0px;
        top: 5px;
        border-radius: 100%;
    }

    .chat-bubble-right {
        float: right;
        display: inline-block;
        // margin-top: 10px;
        padding: 10px;
        // background-color: @lightGreen;
        background-color:  transparent;
        border-top-left-radius: 1.3em;
        // border-top-right-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
        border-bottom-right-radius: 1.3em;
        box-shadow: 0px 1px 1px #ccc;
        margin-right: 40px;
    }

    .chat-bubble-right:before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0px;
        top: 5px;
        border-radius: 100%;
    }

    .chat-send-button {
    	position: absolute;
        right: 20px;
        display: inline-block;
        height: 30px;
        margin-top: 10px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 100%;
        border-radius: 5px;
        background-color: transparent;
        color: black;
        border: 1px solid lightgray;
        margin-top: 10px;
        width: 80px;
        cursor: pointer;
    }

    .chat-send-button:hover{
        font-weight: 700;
    }
}