.learnlabs-app .course-description-row-icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #545454;
  font-size: 1.5em; }

.learnlabs-app .location {
  color: #ffcc33; }

.learnlabs-app .course-description-row-text {
  text-align: center; }
