
@import "./vars.scss";

.learnlabs-app {
	.course-description-row-icons {
		display: block;
		margin-left: auto;
		margin-right: auto;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    color: $darkgray;
	    font-size: 1.5em;
	}

	.location {
		color: $yellow;
	}

	.course-description-row-text {
		text-align: center;
	}
}