.learnlabs-extension{
  z-index: 999999999;
  width: 400px;
  height: 100vh;
  z-index: 999;
  position: fixed;
  right:  -410px;
  background: white;
  z-index: 2147483647;
}

.extension-open {
    -webkit-animation: extension-open 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
}

.extension-close {
    -webkit-animation: extension-close 300ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
    -webkit-transform: translateX(0);
}

@-webkit-keyframes extension-open{
    to {
        -webkit-transform: translateX(-410px);
    }
}

@-webkit-keyframes extension-close{
    to {
        -webkit-transform: translateX(-10px);
    }
}
