.learnlabs-app {
  .global-list-open {
      left: 0 !important;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  }

  .global-list-close {
      -webkit-animation: global-list-close 300ms ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -webkit-transform: translateX(0px);
      transition-duration: 0.3s;

  }

  @-webkit-keyframes global-list-open{
      to {
          -webkit-transform: translateX(415px);
      }
  }

  @-webkit-keyframes global-list-close{
      to {
          -webkit-transform: translateX(0px);
      }
  }
}


