.landing-page {
  height: 100%;
  width: 100%; }
  .landing-page .container-fluid {
    margin: 0;
    padding: 0; }
  .landing-page .landing-page-background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0%;
    height: 100%;
    background-image: url("../assets/circle_logo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  .landing-page .landing-page-transparency {
    opacity: 1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #f5f5f5; }
  .landing-page .landing-contents {
    position: relative; }
    .landing-page .landing-contents .intro {
      min-height: 85vh; }
      .landing-page .landing-contents .intro h1 {
        text-align: center;
        padding: 20px;
        width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(40vh); }
      .landing-page .landing-contents .intro .intro-button {
        text-align: center;
        padding: 20px;
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(40vh);
        background: #f5f5f5b3;
        border-radius: 30px;
        margin-top: 30px;
        cursor: pointer; }
    .landing-page .landing-contents .section {
      background: white;
      width: 100%;
      color: white; }
