.learnlabs-app {

	.container-fluid {
		width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    // margin-right: auto;
	    // margin-left: auto;
	}
   .row {
		display: flex;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    margin-right: 0px;
	    margin-left: 0px;
   } 

}