.flexWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .flexWrapper .left {
    flex: 1;
    order: 1;
    padding: 20px; }
  .flexWrapper .right {
    flex: 1;
    order: 2; }
  .flexWrapper form {
    margin: 20px auto;
    position: relative;
    height: 30px; }
    .flexWrapper form input {
      height: 100%;
      font-size: 1.4em; }
    .flexWrapper form input[type=text] {
      width: 80%;
      position: absolute;
      top: 0;
      left: 0; }
    .flexWrapper form input[type=submit] {
      width: 20%;
      position: absolute;
      right: 0;
      top: 2px;
      border: 1px solid #ddd;
      background: #FFF; }
