.learnlabs-app .menu-toggle {
  width: 40px;
  height: 30px;
  cursor: pointer;
  float: right;
  margin-top: 10px; }

.learnlabs-app .menu-toggle.on .one {
  -moz-transform: rotate(45deg) translate(7px, 7px);
  -ms-transform: rotate(45deg) translate(7px, 7px);
  -webkit-transform: rotate(45deg) translate(7px, 7px);
  transform: rotate(45deg) translate(7px, 7px); }

.learnlabs-app .menu-toggle.on .two {
  opacity: 0; }

.learnlabs-app .menu-toggle.on .three {
  -moz-transform: rotate(-45deg) translate(8px, -10px);
  -ms-transform: rotate(-45deg) translate(8px, -10px);
  -webkit-transform: rotate(-45deg) translate(8px, -10px);
  transform: rotate(-45deg) translate(8px, -10px); }

.learnlabs-app .one,
.learnlabs-app .two,
.learnlabs-app .three {
  width: 80%;
  height: 3px;
  background: white;
  margin: 8px auto;
  backface-visibility: hidden;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
