.notification-open {
  right: 0 !important;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.notification-close {
  -webkit-animation: notification-close 300ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-transform: translateX(0);
  transition-duration: 0.3s; }

@-webkit-keyframes notification-open {
  to {
    -webkit-transform: translateX(-410px); } }

@-webkit-keyframes notificiation-close {
  to {
    -webkit-transform: translateX(0px); } }
