
  .people-list-open {
      // -webkit-animation: people-list-open 300ms ease-in-out;
      // -webkit-animation-fill-mode: forwards;
      // -webkit-transform: translateX(0px);
      right: 0 !important;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  }

  .people-list-close {
      -webkit-animation: people-list-close 300ms ease-in-out;
      -webkit-animation-fill-mode: forwards;
      -webkit-transform: translateX(0);
      transition-duration: 0.3s;

  }

  @-webkit-keyframes people-list-open{
      to {
          -webkit-transform: translateX(-415px);
      }
  }

  @-webkit-keyframes people-list-close{
      to {
          -webkit-transform: translateX(0px);
      }
  }

  


