.learnlabs-app {
	#PlacesAutocomplete__root { 
		z-index: 0;
	}
	#PlacesAutocomplete__autocomplete-container {
	  border: 1px solid #ffcc33 !important; 
	}
	.place-search-button {
	    display: inline-block;
	    height: 50px;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 100%;
	    border-radius: 5px;
	    background-color: transparent;
	    color: black;
	    border: 1px solid lightgray;
	    width: 100%;
	    margin-top: 10px;
	    cursor: pointer;
	}
	.place-search-button:hover {
	    display: inline-block;
	    height: 50px;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 100%;
	    border-radius: 5px;
	    background-color: transparent;
	    color: black;
	    border: 1px solid lightgray;
	    width: 100%;
	    font-weight: 700;
	    margin-top: 10px;
	}

}
