.private-content {
  position: absolute;
  top: 60px;
  bottom: 100px;
  left: 0;
  right: 0;
  background-color: white;
  overflow: auto;
  padding: 20px;
  -webkit-overflow-scrolling: touch;
  /* Lets it scroll lazy */ }
