.learnlabs-app {
	.ReactPasswordStrength-input {
		padding: 0 !important;
		font-size: 16px !important;
		background: transparent !important;
		font-family: Montserrat, sans-serif;
		padding: 15px !important;
		border: none;
	}

.ReactPasswordStrength-strength-desc {
	right: 50px;
	top: -5px;
}

}
.ReactPasswordStrength-input {
padding: 0 !important;
font-size: 16px !important;
background: transparent !important;
font-family: Montserrat, sans-serif;
padding: 15px !important;
border: none !important;
}
