.learnlabs-app {
  font-family: Montserrat, sans-serif; }
  .learnlabs-app body {
    font-family: Montserrat, sans-serif; }
  .learnlabs-app option {
    text-align: center; }
  .learnlabs-app .container-fluid {
    -webkit-overflow-scrolling: touch;
    /* Lets it scroll lazy */ }
  .learnlabs-app input {
    -webkit-appearance: none; }
  .learnlabs-app input:focus {
    outline: none;
    border: none; }
  .learnlabs-app input:active {
    outline: none;
    border: none; }
  .learnlabs-app input[type="checkbox"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, rgba(255, 255, 255, 0.7), transparent 80%), -webkit-linear-gradient(90deg, transparent 20%, rgba(255, 255, 255, 0.7), transparent 80%);
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.8), 0 0 0 1px rgba(0, 0, 0, 0.6), 0 2px 3px rgba(0, 0, 0, 0.6), 0 4px 3px rgba(0, 0, 0, 0.4), 0 6px 6px rgba(0, 0, 0, 0.2), 0 10px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin-right: 15px;
    position: relative;
    width: 15px;
    -webkit-appearance: none; }
  .learnlabs-app input[type="checkbox"]:after {
    background-color: #444;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.8);
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px; }
  .learnlabs-app input[type="checkbox"]:checked:after {
    background-color: #6cbe45;
    content: '';
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4), inset 0 2px 2px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.8), 0 0 2px 2px rgba(232, 125, 125, 0.4); }
  .learnlabs-app input {
    -webkit-appearance: none; }
  .learnlabs-app .select-container {
    position: relative; }
    .learnlabs-app .select-container select {
      width: 100%;
      height: 50px;
      padding-left: 5px;
      -webkit-appearance: none;
      background: white; }
    .learnlabs-app .select-container .select-arrow {
      position: absolute;
      content: "";
      width: 0px;
      height: 0px;
      right: 15px;
      top: 15px;
      border-top: 10px solid #6cbe45;
      border-right: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid transparent;
      top: 20px;
      right: 10px;
      pointer-events: none; }
  .learnlabs-app .file-upload input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }
  .learnlabs-app textarea {
    -webkit-appearance: none; }
  .learnlabs-app button {
    -webkit-appearance: none; }
  .learnlabs-app button:focus {
    outline: none; }
  .learnlabs-app button:hover {
    background-color: "rgb(121, 181, 5)"; }
  .learnlabs-app .button-max {
    max-width: 200px; }
  .learnlabs-app .Modal-modal-0-1-3 {
    padding: 1.2rem;
    position: relative;
    max-width: 800px;
    background: #eceaea !important;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    background-clip: padding-box; }
  .learnlabs-app .color-border {
    border: 1px solid #ed184f;
    border-radius: 25px; }
  .learnlabs-app .color-border-blue {
    border: 1px solid #6486c4;
    border-radius: 25px; }
  .learnlabs-app .color-border-green {
    border: 1px solid #6cbe45;
    border-radius: 25px; }
  .learnlabs-app .color-border-yellow {
    border: 1px solid #ffcc33;
    border-radius: 25px; }
  .learnlabs-app .colorful-background-color {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed184f+0,6cbe45+27,6486c4+71,fee100+100 */
    background: #ed184f;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ed184f 0%, #6cbe45 27%, #6486c4 71%, #fee100 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ed184f 0%, #6cbe45 27%, #6486c4 71%, #fee100 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ed184f 0%, #6cbe45 27%, #6486c4 71%, #fee100 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed184f', endColorstr='#fee100',GradientType=1 );
    /* IE6-9 */ }
  .learnlabs-app .general-button {
    display: inline-block;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 100%;
    border-radius: 25px;
    color: black;
    width: 100%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149); }
  .learnlabs-app .general-button:hover {
    display: inline-block;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 100%;
    border-radius: 25px;
    color: black;
    border: 1px solid lightgray;
    width: 100%;
    font-weight: 700;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149); }
  .learnlabs-app .inactive-button {
    display: inline-block;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 100%;
    border-radius: 25px;
    color: gray;
    width: 100%;
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149); }
  .learnlabs-app .center-item {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .learnlabs-app .gradient-background {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed274f+1,fee12b+100 */
    background: #ed274f;
    /* Old browsers */
    background: -moz-linear-gradient(left, #ed274f 1%, #fee12b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ed274f 1%, #fee12b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ed274f 1%, #fee12b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed274f', endColorstr='#fee12b',GradientType=1 );
    /* IE6-9 */ }
  .learnlabs-app .general-hover {
    cursor: pointer; }
  .learnlabs-app .general-hover:hover {
    font-weight: 700; }
  .learnlabs-app .input-range__slider {
    background-color: #6cbe45;
    border: 1px solid #6cbe45; }
  .learnlabs-app .input-range__track .input-range__track--active {
    background-color: #6cbe45; }
  .learnlabs-app .gray-white-gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fffcfc+100 */
    background-color: #f2f2f2;
    background-color: -moz-linear-gradient(left, #f2f2f2 0%, #f5f5f5 100%);
    /* FF3.6-15 */
    background-color: -webkit-linear-gradient(left, #f2f2f2 0%, #f5f5f5 100%);
    /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fffcfc',GradientType=1 );
    /* IE6-9 */ }
  .learnlabs-app .gray-white-gradient:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fffcfc+100 */
    background-color: #fcfcfc; }
  .learnlabs-app .list-hover:hover {
    background-color: #f2f2f2; }
  .learnlabs-app .list-item-selected {
    background-color: #fcfcfc; }
