@import "./vars.scss";


.learnlabs-app {
	font-family: Montserrat, sans-serif;

	body {
		font-family: Montserrat, sans-serif;
	}

	option {
		text-align: center;
	}


	.container-fluid {
	  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */

	}

	input {
		-webkit-appearance: none;
	}
	input:focus {
	outline: none;
	border: none;
	}
	
	input:active {
	outline: none;
	border: none;
	}


	input[type="checkbox"] {
	    background-color: #ddd;
	    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
	                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
	    border-radius: 10px;
	    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.8),
	                0 0 0 1px hsla(0,0%,0%,.6),
	                0 2px 3px hsla(0,0%,0%,.6),
	                0 4px 3px hsla(0,0%,0%,.4),
	                0 6px 6px hsla(0,0%,0%,.2),
	                0 10px 6px hsla(0,0%,0%,.2);
	    cursor: pointer;
	    display: inline-block;
	    height: 15px;
	    margin-right: 15px;
	    position: relative;
	    width: 15px;
	    -webkit-appearance: none;
	}

	input[type="checkbox"]:after {
	    background-color: #444;
	    border-radius: 25px;
	    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
	                0 1px 1px hsla(0,0%,100%,.8);
	    content: '';
	    display: block;
	    height: 7px;
	    left: 4px;
	    position: relative;
	    top: 4px;
	    width: 7px;
	}
	
	input[type="checkbox"]:checked:after {
	    background-color: $green;
	    content: '';

	    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4),
	                inset 0 2px 2px hsla(0,0%,100%,.4),
	                0 1px 1px hsla(0,0%,100%,.8),
	                0 0 2px 2px hsla(0,70%,70%,.4);
	}

	input {
		-webkit-appearance: none;
	}

	.select-container {
		position: relative;
		select {
			width: 100%;
			height: 50px;
			padding-left: 5px;
			-webkit-appearance: none;	
			background: white;	
		}

		// select:after {
		.select-arrow {
			position:absolute;
			content: "";
			width:0px;
			height:0px;
			right: 15px;
			top: 15px;
			border-top: 10px solid $green;
			border-right: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid transparent;
			top: 20px;
			right: 10px;
			pointer-events: none;
		}


	}



	.file-upload input[type=file] {
		font-size: 100px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 0;
	}

	textarea {
		-webkit-appearance: none;
	}

	button {
		-webkit-appearance: none;	
	}

	button:focus {
		outline: none;
	}

	button:hover {
		background-color: $hover-green;
	}

	
	.button-max {
		max-width: 200px;
	}

	// .o2-btn {
	// 	background: $green !important;
	// 	text-align: center;
	// 	width: 100%;
	// 	max-width: 300px;
	// 	color: white;
	// 	font-weight: bold;
	// 	border-radius: 5px;
	// 	height: 50px;
	// 	line-height: 50px;
	// 	cursor: pointer;
	// }

	// .o2-btn:focus {
	// 	background: $hover-green !important;
	// }


	.Modal-modal-0-1-3 {
	    padding: 1.2rem;
	    position: relative;
	    max-width: 800px;
	    background: #eceaea !important;
	    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
	    background-clip: padding-box;
	}

	// .color-border {
	// 	border: none;
	// 	border-left: 3px solid $red !important;
	// 	border-right: 3px solid $green !important;
	// 	border-radius: 25px;
	// 	-webkit-box-sizing: border-box;
	// 	-moz-box-sizing: border-box;
	// 	box-sizing: border-box;
	// 	background-position: 0 0, 0 100%;
	// 	background-repeat: no-repeat;
	// 	-webkit-background-size: 100% 2px;
	// 	-moz-background-size: 100% 2px;
	// 	background-size: 100% 2px;
	// 	background-image: -webkit-linear-gradient(left, $blue 0%, $yellow 100%), -webkit-linear-gradient(left, $blue 25%, $yellow 25%);
	// 	background-image: -moz-linear-gradient(left, $blue 0%, $yellow 100%), -moz-linear-gradient(left, $blue 0%, $yellow 100%);
	// 	background-image: -o-linear-gradient(left, $blue 0%, $yellow 100%), -o-linear-gradient(left, $blue 0%, $yellow 100%);
	// 	background-image: linear-gradient(to right, $red 0%, $green 100%), linear-gradient(to right, $yellow 0%, $blue 100%);
	// }

	.color-border {
		border: 1px solid $red;
		border-radius: 25px;
	}
	.color-border-blue {
		border: 1px solid $blue;
		border-radius: 25px;
	}
	.color-border-green {
		border: 1px solid $green;
		border-radius: 25px;
	}
	.color-border-yellow {
		border: 1px solid $yellow;
		border-radius: 25px;
	}

	.colorful-background-color {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed184f+0,6cbe45+27,6486c4+71,fee100+100 */
	background: #ed184f; /* Old browsers */
	background: -moz-linear-gradient(left, #ed184f 0%, #6cbe45 27%, #6486c4 71%, #fee100 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ed184f 0%,#6cbe45 27%,#6486c4 71%,#fee100 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ed184f 0%,#6cbe45 27%,#6486c4 71%,#fee100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed184f', endColorstr='#fee100',GradientType=1 ); /* IE6-9 */
	}

	.general-button {
	    display: inline-block;
	    height: 50px;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 100%;
	    border-radius: 25px;
	    // background-color: transparent;
	    color: black;
	    // border: 1px solid lightgray;
	    width: 100%;
	    cursor: pointer;
	    background-color: white;
	    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149)
	}
	.general-button:hover {
	    display: inline-block;
	    height: 50px;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 100%;
	    border-radius: 25px;
	    // background-color: transparent;
	    color: black;
	    border: 1px solid lightgray;
	    width: 100%;
	    font-weight: 700;
	    background-color: white;
	    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149)

	}

	.inactive-button {
	    display: inline-block;
	    height: 50px;
	    border-top-right-radius: 25px;
	    border-bottom-right-radius: 100%;
	    border-radius: 25px;
	    // background-color: transparent;
	    color:  gray;
	    // border: 1px solid lightgray;
	    width: 100%;
	    cursor: pointer;
	    background-color: #ccc;
	    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149)
	}

	.center-item {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


	.gradient-background {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ed274f+1,fee12b+100 */
	background: #ed274f; /* Old browsers */
	background: -moz-linear-gradient(left, #ed274f 1%, #fee12b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ed274f 1%,#fee12b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ed274f 1%,#fee12b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed274f', endColorstr='#fee12b',GradientType=1 ); /* IE6-9 */

	}

	.general-hover {
		cursor: pointer;
	}

	.general-hover:hover {
		font-weight: 700;
	}

	.input-range__slider {
		background-color: $green;
		border: 1px solid $green;
	}

	.input-range__track .input-range__track--active {
		background-color: $green;
	}

	.gray-white-gradient {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fffcfc+100 */
		background-color: $mediumgray; //#f2f2f2; /* Old browsers */
		background-color: -moz-linear-gradient(left, $mediumgray 0%, $lightgray 100%); /* FF3.6-15 */
		background-color: -webkit-linear-gradient(left, $mediumgray 0%, $lightgray 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to right, $mediumgray 0%, $lightgray 100%; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fffcfc',GradientType=1 ); /* IE6-9 */
	}

	.gray-white-gradient:hover {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,fffcfc+100 */
		background-color: $lightestgray; //#f2f2f2; /* Old browsers */
		
	}

	.list-hover {

	}

	.list-hover:hover {
		background-color: $mediumgray;
	}

	.list-item-selected {
		background-color: $lightestgray;
	}
}
