$yellow: #ffcc33;
$green: #6cbe45; 
$red: #ed184f;
$blue: #6486c4;
$yellow: #fee100;
// #99cc33;
$darkgreen: rgb(121, 181, 5);
$mediumgray: #f2f2f2;
$lightgray: #f5f5f5;
$lightestgray: rgb(252, 252, 252);
$darkgray: rgb(84, 84, 84);
$hover-background-color: #3c3838;
$hover-font-color: 'white';
$yellow: #ffcc33;
$hover-green: "rgb(121, 181, 5)";
$white: white;